.notification.danger{
    background-color: black;
}

.notification.success {
    background-color: green;
}
.notification.info{
    background-color: blueviolet;
}
.notification .close{
    position: absolute;
    top:10px;
    right: 10px;
    fill: white;
}
.errMsg{
    color: black;
    display: block;
    font-size: .5rem;
}
.notification{
    position:relative;
    color: white;
    border-radius:10px;
    padding:20px;
    margin-bottom: 10px;
    font-size: 20px;
}