<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet"  type="text/css" href="../../CSS/index-style.css">
    <link rel="stylesheet" type="text/css" href="../../CSS/aboutus-style.css">
    <link rel="stylesheet" type="text/css" href="../../CSS/support-button.css">
    <link rel="stylesheet" type="text/css" href="../../CSS/login.css">
    <link rel="stylesheet" type="text/css" href="../../CSS/userprofile.css">
    <title>Account Details</title>
</head>
<body>
<header>
    <img id="logo" src="../../photos/cardgalaxylogo.png" alt="website logo">
</header>
<nav>
    <ul>
        <li><a href="#">Home</a></li>
        <li><a href="#">About Us</a></li>
        <li><a href="#">Shop Now</a></li>
    </ul>
</nav>
<main>
    <div class="content">
        <h1 class="welcome">Account Details</h1>
        <p class="para-about para_index">
            Name :
            <br>
            Surname :
            <br>
            Username :
            <br>
            Email :
            <br>
            Address :
            <br>
            Nation :
            <br>
            City :
            <br>
            CAP :
            <br>
            Date of Birth :
        </p>
        <button type="submit" class="glowing-btn"> EDIT DETAILS </button>
        <button type="submit" class="glowing-btn"> DELETE ACCOUNT </button>
    </div>
</main>
<footer>
    &copy; 2023 CardGalaxy Inc. All rights reserved.
    <p>
        Need Help?
    </p>
    <button type="submit" class="button"> CLICK HERE </button>
</footer>
</body>
</html>