<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet"  type="text/css" href="../../CSS/index-style.css">
    <link rel="stylesheet" type="text/css" href="../../CSS/aboutus-style.css">
    <link rel="stylesheet" type="text/css" href="../../CSS/support-button.css">
    <link rel="stylesheet" type="text/css" href="../../CSS/login.css">
    <link rel="stylesheet" type="text/css" href="../../CSS/userprofile.css">
    <link rel="stylesheet" type="text/css" href="../../CSS/help-style.css">
    <title>Help</title>
</head>
<body>
<header>
    <img id="logo" src="../../photos/cardgalaxylogo.png" alt="website logo">
</header>
<nav>
    <ul>
        <li><a href="#">Home</a></li>
        <li><a href="#">About Us</a></li>
        <li><a href="#">Shop Now</a></li>
    </ul>
</nav>
<main>
    <div class="content">
        <h1 class="welcome">Need Help?</h1>
        <div>
            <form action="" method="">
            <p class="para_index"> Describe shortly your problem here :  </p>
            <label for="objectid">
                <input class="bigger-area-object" type="text" name="object" id="objectid" placeholder="Request Object" required>
            </label>
            <p class="para_index"> Insert all your problem details here : </p>
            <label for="requestid">
               <textarea id="requestid" name="request" rows="10" cols="96" required>
               </textarea>
            </label>
                <div>
                    <button type="submit" class="glowing-btn"> SUBMIT REQUEST </button>
                </div>
            </form>
        </div>
    </div>
</main>
<footer>
    &copy; 2023 CardGalaxy Inc. All rights reserved.
    <p>
        Need Help?
    </p>
    <button type="submit" class="button"> CLICK HERE </button>
</footer>
</body>
</html>