<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet"  type="text/css" href="../../CSS/index-style.css">
    <link rel="stylesheet" type="text/css" href="../../CSS/aboutus-style.css">
    <link rel="stylesheet" type="text/css" href="../../CSS/support-button.css">
    <link rel="stylesheet" type="text/css" href="../../CSS/login.css">
    <link rel="stylesheet" type="text/css" href="../../CSS/userprofile.css">
    <link rel="stylesheet" type="text/css" href="../../CSS/table.css">
    <title>Order Details</title>
</head>
<body>
<header>
    <img id="logo" src="../../photos/cardgalaxylogo.png" alt="website logo">
</header>
<nav>
    <ul>
        <li><a href="#">Home</a></li>
        <li><a href="#">About Us</a></li>
        <li><a href="#">Shop Now</a></li>
    </ul>
</nav>
<main>
    <div class="content">
        <h1 class="welcome">Order Details</h1>
        <div class="grid-y align-center">
            <table class="table purple ut">
                <thead>
                <tr>
                    <th>ID ORDER </th>
                    <th>PRODUCT</th>
                    <th>UNITS</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>3</td>
                    <td>PlayStation Card 20€</td>
                    <td>1</td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>Steam Card 20€</td>
                    <td>1</td>
                </tr>
                </tbody>
            </table>
            <div>
                <button type="submit" class="glowing-btn"> DELETE ORDER </button>
                <button type="submit" class="glowing-btn"> EDIT ORDER </button>
            </div>
        </div>
    </div>
</main>
<footer>
    &copy; 2023 CardGalaxy Inc. All rights reserved.
    <p>
        Need Help?
    </p>
    <button type="submit" class="button"> CLICK HERE </button>
</footer>
</body>
</html>