<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet"  type="text/css" href="../../CSS/index-style.css">
    <link rel="stylesheet" type="text/css" href="../../CSS/aboutus-style.css">
    <link rel="stylesheet" type="text/css" href="../../CSS/support-button.css">
    <link rel="stylesheet" type="text/css" href="../../CSS/login.css">
    <title>Register</title>
</head>
<body>
<header>
    <img id="logo" src="../../photos/cardgalaxylogo.png" alt="website logo">
</header>
<nav>
    <ul>
        <li><a href="#">Home</a></li>
        <li><a href="#">About Us</a></li>
        <li><a href="#">Shop Now</a></li>
    </ul>
</nav>
<main>
    <div class="content">
        <h1 class="welcome">Create Your Account</h1>
        <form class="login grid-y" action="" method="">
            <span> Email : </span>
            <label for="emailid">
                <input class="larger" type="email" name="email" id="emailid" placeholder="example@mail.com" required>
            </label>
            <br>
            <span> Username : </span>
            <label for="userid">
                <input class="larger" type="text" name="user" id="userid" placeholder="Username" required>
            </label>
            <br>
            <span> Password : </span>
            <label for="passwordid">
                <input class="larger" type="password" name="password" id="passwordid" placeholder="Password" required>
            </label>
            <br>
            <span> Name : </span>
            <label for="nameid">
                <input class="larger" type="text" name="name" id="nameid" placeholder="Name" required>
            </label>
            <br>
            <span> Surname : </span>
            <label for="surnameid">
                <input class="larger" type="text" name="surname" id="surnameid" placeholder="Surname" required>
            </label>
            <br>
            <span> Address : </span>
            <label for="addressid">
                <input class="larger" type="text" name="address" id="addressid" placeholder="Second Road St.2" required>
            </label>
            <br>
            <span> Nation : </span>
            <label for="nationid">
                <input class="larger" type="text" name="nation" id="nationid" placeholder="USA" required>
            </label>
            <br>
            <span> City : </span>
            <label for="cityid">
                <input class="larger" type="text" name="city" id="cityid" placeholder="San Francisco" required>
            </label>
            <br>
            <span> CAP : </span>
            <label for="capid">
                <input class="larger" type="text" name="cap" id="capid" placeholder="90189" required>
            </label>
            <br>
            <span> Date of Birth : </span>
            <label for="bdayid">
                <input class="larger" type="date" name="bday" id="bdayid" required>
            </label>
            <br>
            <button class="button" type="submit"> JOIN THE GALAXY </button>
            <br>
        </form>
        <p class="para_index">
            Already registered?
        </p>
        <button type="submit" class="button add-margin-bottom"> LOGIN </button>
    </div>
</main>
<footer>
    &copy; 2023 CardGalaxy Inc. All rights reserved.
    <p>
        Need Help?
    </p>
    <button type="submit" class="button"> CLICK HERE </button>
</footer>
</body>
</html>
