<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet"  type="text/css" href="../../CSS/index-style.css">
    <link rel="stylesheet" type="text/css" href="../../CSS/aboutus-style.css">
    <link rel="stylesheet" type="text/css" href="../../CSS/support-button.css">
    <link rel="stylesheet" type="text/css" href="../../CSS/login.css">
    <link rel="stylesheet" type="text/css" href="../../CSS/userprofile.css">
    <link rel="stylesheet" type="text/css" href="../../CSS/review.css">
    <link rel="stylesheet" type="text/css" href="../../CSS/help-style.css">
    <title>Product Reviews</title>
</head>
<body>
<header>
    <img id="logo" src="../../photos/cardgalaxylogo.png" alt="website logo">
</header>
<nav>
    <ul>
        <li><a href="#">Home</a></li>
        <li><a href="#">About Us</a></li>
        <li><a href="#">Shop Now</a></li>
    </ul>
</nav>
<main>
    <div class="content">
        <h1 class="welcome">We love hearing from you!</h1>
        <p class="para_index">
            check customers' reviews and write your own one if you want
        </p>
        <p class="para-about para_index">
            ProductName Reviews :
        </p>
        <div class="blog-wrapper">
            <div class="blog-card">
                <div class="card-img"><img src="../../photos/galaxy-back.jpg">
                    <h1>simocuccaro</h1>
                </div>
                <div class="card-details"><span><i class="fa fa-calendar"></i>19/11/2023</span></div>
                <div class="card-text"><p>I'm super happy with my purchase!!!</p></div>
            </div>
            <div class="blog-card">
                <div class="card-img"><img src="../../photos/galaxy-back.jpg">
                    <h1>gianlutrani</h1>
                </div>
                <div class="card-details"><span><i class="fa fa-calendar"></i>10/10/2023</span></div>
                <div class="card-text">
                    <p>
                    CardGalaxy is the best, I am very surprised of how fast you receive your digital code.
                        <br>
                     I will definitely buy here again!
                    </p>
                </div>
            </div>
        </div>
        <p class="para_index"> write your thoughts about this product here : </p>
        <label for="reviewid">
        <textarea id="reviewid" name="review" rows="5" cols="96" required>
        </textarea>
        </label>
        <div>
            <button type="submit" class="glowing-btn"> INSERT REVIEW </button>
        </div>
    </div>
</main>
<footer>
    &copy; 2023 CardGalaxy Inc. All rights reserved.
    <p>
        Need Help?
    </p>
    <button type="submit" class="button"> CLICK HERE </button>
</footer>
</body>
</html>